@charset "utf-8";
* {margin:0; 
   padding:0;}
li {  list-style: none;
color: white;          
background-color: purple;
float: left;
line-height: 30px;
vertical-align: middle;
text-align: center;}